<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Bots!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class=".col-md-3 .offset-md-3">
                <a class="btn btn-primary btn-lg" role="button" href="/cliente">Cadastro de Cliente</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-lg" role="button" href="/pedido">Cadastro de Pedido</a>
            </div>
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>