<!DOCTYPE html>
<html>
<head>
    <% include ./../partials/head %>
</head>
<body>
    <form action="/pedido/add" method="post">
        <label>Mat. Funcionário</label>
        <input type="text" placeholder="99" name="matFuncionario">
        <label>Comanda:</label>
        <input type="text" placeholder="Num. Comanda" name="comanda">
        <br/>
        
        <br/>
        <input type="submit" value="Cadastrar Pedido" />
    </form>
    <footer>
            <% include ./../partials/footer %>
    </footer>
</body>
</html>