<!DOCTYPE html>
<html>
<head>
    <% include ./../partials/head %>
</head>
<body>
    <header>
        <% include ./../partials/header %>
    </header>
    <div class="container mt-2">
        <form class="form-group" action="/cliente" method="post">
            <label>Nome</label>
            <input class="form-control form-control-lg" type="text" placeholder="Nome" name="nome">
            <br/>
            <label>Telefone</label>
            <input class="form-control form-control-lg" type="text" placeholder="(XX) XXXXX-XXXX" name="telefone">
            <br/>
            <label>Comanda</label>
            <input class="form-control form-control-lg" type="text" placeholder="XXX" name="numComanda">
            <br/>
            <input class="btn btn-primary btn-lg" type="submit" value="Cadastrar Cliente" />
            <input class="btn btn-secondary btn-lg" type="reset" value="Apagar Dados" />
        </form>
    </div>
    <footer>
        <% include ./../partials/footer %>
    </footer>
</body>
</html>