<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SisGoB</title>
</head>
<body>
    <form action="/cliente/add" method="post">
        <label>Nome:</label>
        <input type="text" placeholder="Nome" name="nome">
        <br/>
        <label>Telefone:</label>
        <input type="text" placeholder="(XX) XXXXX-XXXX" name="Telefone">
        <br/>
        <input type="submit" value="Cadastrar Cliente" />
    </form>
</body>
</html>