<!DOCTYPE html>
<html>
<head>
    <% include ./../partials/head %>
</head>
<body>
    <header>
        <% include ./../partials/header %>
    </header>
    <form class="form-group" action="/cliente/add" method="post">
        <label>Nome:</label>
        <input class="form-control form-control-lg" type="text" placeholder="Nome" name="nome">
        <br/>
        <label>Telefone:</label>
        <input class="form-control form-control-lg" type="text" placeholder="(XX) XXXXX-XXXX" name="Telefone">
        <br/>
        <input class="btn btn-primary btn-lg" type="submit" value="Cadastrar Cliente" />
    </form>
    <footer>
        <% include ./../partials/footer %>
    </footer>
</body>
</html>